
@{
    ViewBag.Title = "MintoMax";
}

@model IEnumerable<DoAn.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Location -->
<div class="location">
    <div class="grid wide">
        <div class="location__container">
            <a href="@Url.Action("Index","Home")" class="location__link"><i class="location__icon fa-solid fa-house"></i></a>
            <p class="location__text">/ Product</p>
        </div>
    </div>
</div>
<!-- End Location -->
<!-- Content -->
<div class="content">
    <div class="grid wide">
        <div class="content__container row">
            <div class="content-left col l-3 m-0 c-0">
                <div class="content-left__box">
                    <h3 class="content-left__header">PRODUCT</h3>
                    <div class="content-left__box content-left__box--under">
                        <ul class="content-left__list">
                            <li class="content-left__item"><a href="@Url.Action("Top10_Pro","OrderDetail_Product")" class="content-left__link">Popular Product</a></li>
                            <li class="content-left__item"><a href="@Url.Action("MintoMax","Product")" class="content-left__link">Min Price To Max Price</a></li>
                            <li class="content-left__item"><a href="@Url.Action("MaxtoMin","Product")" class="content-left__link">Max Price To Min Price</a></li>
                            <li class="content-left__item"><a href="@Url.Action("AtLeast","Product")" class="content-left__link">The Cheapest Price Product</a></li>
                            <li class="content-left__item"><a href="@Url.Action("AtMax","Product")" class="content-left__link">The Most Expensive Price Product</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @* Data *@
            @{var user = Session["Account"] as DoAn.Models.Account;}
            <div class="content-right col l-9">
                <div class="content__box-img">
                    <img src="~/Content/assets/images/shop-featured.png" width="100%" height="80%" alt="" class="content-right__img">
                </div>
                <h3 class="content-right__header">PRODUCT FROM MIN TO MAX</h3>
                <a href="/Product/SearchOption" class="menu__link product__btn">Search</a>
                @if (user != null)
                {
                    if (user.Email == "admin@gmail.com")
                    {
                        <a href="@Url.Action("Create","Product")" class="menu__link product__btn">Add Product</a>
                    }

                }
                else
                {
                    <span></span>
                }
                <div class="content__product signature__product">
                    <div class="singnature__containter row">
                        @if (user != null)
                        {
                            foreach (var item in Model)
                            {
                                <a href="@Url.Action("Details", "Product",new { id = item.Id })">
                                    <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                                        <div class="box__img">
                                            <img src="@Url.Content(item.ImagePro)" width="100%" height="300" />
                                            <div class="signature__subbox">
                                                <div class="signature__subbox-top">
                                                    <a href="/ShoppingCart/AddToCart/@item.Id" class="signature__link signature__link-subbox">
                                                        <p class="signature__add">
                                                            <i class="signature__icon fa-solid fa-cart-shopping"></i>ADD TO CART
                                                        </p>
                                                    </a>
                                                </div>
                                                @if (user.Email == "admin@gmail.com")
                                                {
                                                    <div class="signature__subbox-bottom">
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "signature__link signature__link-bottom" })
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "signature__link signature__link-bottom" })
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="signature__product-decription">
                                            <h4 class="signature__product-name">
                                                <a href="@Url.Action("Details", "Product",new { id = item.Id })" class="signature__link-header">@Html.DisplayFor(model => item.NamePro)</a>
                                            </h4>
                                            <p class="signature__product-price">
                                                @Html.DisplayFor(model => item.Price) <span>Vnđ</span>
                                            </p>
                                            <div class="signature__product-rate">
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                                <i class="signature__product-icon fa-regular fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                @* End Product *@
                            }
                            if (user.Email == "admin@gmail.com")
                            {
                                @* Add Product *@
                                <div class="signature__product-box signature__product-box--in-sale col l-3 m-4 c-6">
                                    <div class="content-box__img content-box__img--add-product">
                                        @Html.ActionLink("+", "Create", "Product", null, new { @class = "a--no-decor" })
                                        <div class="signature__product-decription">
                                            <h4 class="signature__product-name">
                                                @Html.ActionLink("Add Product", "Create", "Product", null, new { @class = "signature__link-header" })
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                @* End Add Product *@
                            }
                        }
                        else
                        {
                            <h4 style="text-align:center;font-size:4rem">Please <a class="navbar__link" style="color:red" href="@Url.Action("Login","Login")">login</a> or <a class="navbar__link" style="color:red" href="@Url.Action("Register","Login")">register</a> to see more product...</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
<!-- Slider bar -->
<div class="sidebar">
    <div class="sidebar__container grid wide">
        <div class="sidebar__box row">
            <div class="sidebar__box-img col l-4 m-4 c-6">
                <a href="http://snstheme.com/" class="sidebar__link">
                    <img src="~/Content/assets/images/lamino.png"
                         width="100%" height="100%" alt="" class="sidebar__img">
                </a>
                <div class="overlay"></div>
            </div>
            <div class="sidebar__box-img col l-4 m-4 c-6">
                <a href="http://snstheme.com/" class="sidebar__link">
                    <img src="~/Content/assets/images/avio.png" width="100%"
                         height="100%" alt="" class="sidebar__img">
                </a>
                <div class="overlay"></div>
            </div>
            <div class="sidebar__box-img col l-4 m-4 c-6">
                <a href="http://snstheme.com/" class="sidebar__link">
                    <img src="~/Content/assets/images/nova.png" width="100%"
                         height="100%" alt="" class="sidebar__img">
                </a>
                <div class="overlay"></div>
            </div>
            <div class="sidebar__box-img col l-4 m-4 c-6">
                <a href="http://snstheme.com/" class="sidebar__link">
                    <img src="~/Content/assets/images/avan.png" width="100%"
                         height="100%" alt="" class="sidebar__img">
                </a>
                <div class="overlay"></div>
            </div>
            <div class="sidebar__box-img col l-4 m-4 c-6">
                <a href="http://snstheme.com/" class="sidebar__link">
                    <img src="~/Content/assets/images/nazic.png" width="100%"
                         height="100%" alt="" class="sidebar__img">
                </a>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar -->
