@model DoAn.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .category__input{
        padding:10px 20px;
        
    }
</style>

<div style="font-size:2rem" class="grid wide">
    <h2>Create Category</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IdCate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdCate, new { htmlAttributes = new { @class = "form-control category__input" } })
                    @Html.ValidationMessageFor(model => model.IdCate, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.IdPro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IdPro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdPro, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.NameCate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameCate, new { htmlAttributes = new { @class = "form-control category__input" } })
                    @Html.ValidationMessageFor(model => model.NameCate, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="padding: 10px 20px; color: white; background-color: #e34444;border:none;font-size:2rem;cursor:pointer " type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

</div>




